<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="nav">
    <ul>
      <li class="navBtn inline-btn"><a href="/">Home</a></li>
      <li class="navBtn inline-btn"><a href="/dashboard">Dashboard</a></li>
      <li class="navBtn inline-btn"><a href="/login">Login</a></li>
      <li class="navBtn inline-btn"><a href="#" id="logout">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="title"><a href="/">Tech Blog</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    <p>2022</p>
  </footer>
</body>

</html>
