* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #38302e;
}

header {
  margin-top: 45px;
}

.text-uppercase {
  text-transform: uppercase;
}

main {
  margin: 20px auto;
  width: 95%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  margin: 0;
  line-height: 1;
  color: #38302e;
}

.title {
  font-size: 3rem;
  color: #38302e;
  padding: 0 10px;
  display: inline-block;
  border-radius: .004rem;
  box-shadow: 6px 5px #38302e;
}

.title a {
  color: #38302e;
}

.nav {
  width: 100%;
  position: fixed;
}

.navBtn {
  margin: 0 40px;
}

.hero {
  padding: 3% 4%;
  background-color: #38302e;
}

.hero p {
  max-width: 75%;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.inline-btn {
  display: inline;
}

.btn {
  display: block;
  margin: 5px 0;
  border-radius: .04rem;
  border: none;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  outline: none;
  transform: translate(-1px, -1px);
}

.btn:hover {
  transform: translate(0, 0);
  box-shadow: 2px 2px #38302e;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid #38302e;
  border-radius: .04rem;
}

.card-header {
  background-color: #38302e;
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--dark);
}

.form-label, .form-input, .form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border-radius: .04rem;
}

.footer a {
  display: inline-block;
  padding: 1em;
  margin-bottom: .5em;
  background-color: #38302e;
  border-radius: .04rem;
  text-decoration: none;
}

/* flex/display sizes */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {justify-content: space-between}
.justify-space-around {justify-content: space-around}
.justify-flex-start {justify-content: flex-start;}
.justify-flex-end {justify-content: flex-end}
.justify-center {justify-content: center}

.align-stretch {align-items: stretch}
.align-end {align-items: flex-end}
.align-center {align-items: center}

.col-auto {flex-grow: 1}

.min-100-vh {min-height: 100vh}
.min-100-vw {min-width: 100vw}